* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.main {
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: rgb(252, 125, 102);
    position: relative;
}

.menu {
    width: 100%;
    background-color: cadetblue;
    transform: translateX(-110%);
    position: absolute;
}

.main:hover {
    border: 1px solid black;
    background-color: rgb(252, 125, 102);
}
